<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/root.css">
    <script type="module" src="../js/footer.js" defer></script>
    
    <title>footer</title>
</head>
<body>
    
</body> -->
<footer class="footer">
    <div class="footer-text">
        <p class="footer-text-p">© 2024. All rights reserved.
        Developed by: 
      </p>
      <span>
            <svg id="openModalBtn" class="icon-raccoon" width="32" height="32" viewBox="0 0 32 32">
                <use xlink:href="./svg/icon-footer-raccoon.svg#icon-raccoon"></use>
            </svg>
        </span>
            
    </div>


<!-- MODAL WİNDOW -->


<div id="myModal" class="modal">
    <div class="modal-content-footer">
        <span class="close">
            <!-- X BUTTON    -->
              <svg width="32" height="32" class="modal-menu-button-icon" type="button" >
                <use class="modal-menu-button-icon-alt" href="./svg/modal-menu-exit-button.svg#icon-modal-exit-button"> </use>
              </svg>
        </span>
        <div class="footer-container">
            <ul class="footer-list">
               <!-- developers names... -->
            </ul>
            
        </div>
    </div>
</div>
    
</footer>

</html>






