<footer class="footer">
  <div class="footer-text">
    <p class="footer-text-p">© 2024. All rights reserved. Developed by:</p>

    <!-- MODAL OPEN -->
    <span>
      <svg
        id="openModalBtn"
        class="icon-raccoon"
        width="32"
        height="32"
        viewBox="0 0 32 32"
      >
        <use xlink:href="./svg/icon-footer-raccoon.svg#icon-raccoon"></use>
      </svg>
    </span>
  </div>

  <!-- MODAL WINDOW -->

  <div id="myModal" class="modal">
    <div class="modal-content-footer">
      <button class="close">
        <!-- X BUTTON    -->
        <svg
          width="32"
          height="32"
          class="modal-menu-button-icon"
          type="button"
          id="closeModelBtn"
        >
          <use
            class="modal-menu-button-icon-alt"
            href="./svg/modal-menu-exit-button.svg#icon-modal-exit-button"
          ></use>
        </svg>
      </button>
      <div class="footer-container">
        <ul class="footer-list">
          <li class="footer-list-item">
            <img
              class="footer-list-item-img"
              src="./img/footer-pic/mete-civelek.webp"
              alt="Mete Civelek profile picture"
            />
            <div class="footer-list-item-info">
              <h2 class="footer-list-item-name">Mete CİVELEK</h2>
              <p class="footer-list-item-text">Team Leader, Developer</p>
              <div class="footer-list-item-links">
                <a
                  class="footer-list-item-link"
                  href="https://github.com/metlandus"
                  target="_blank"
                >
                  <img
                    class="icon-github-logo"
                    src="./svg/github-icon.svg"
                    width="20"
                    height="20"
                    alt="github icon"
                  />

                  GitHub
                </a>
              </div>
            </div>
          </li>
          <li class="footer-list-item">
            <img
              class="footer-list-item-img"
              src="./img/footer-pic/subat-yucel.webp"
              alt="Subat Yucel profile picture"
            />
            <div class="footer-list-item-info">
              <h2 class="footer-list-item-name">Şubat YÜCEL</h2>
              <p class="footer-list-item-text">Team Leader, Developer</p>
              <div class="footer-list-item-links">
                <a
                  class="footer-list-item-link"
                  href="https://github.com/subatyucel"
                  target="_blank"
                >
                  <img
                    class="icon-github-logo"
                    src="./svg/github-icon.svg"
                    width="20"
                    height="20"
                    alt="github icon"
                  />

                  GitHub
                </a>
              </div>
            </div>
          </li>
          <li class="footer-list-item">
            <img
              class="footer-list-item-img"
              src="./img/footer-pic/deniz-sofia.webp"
              alt="Deniz Sofia ulutas profile picture"
            />
            <div class="footer-list-item-info">
              <h2 class="footer-list-item-name">Deniz Sofia ULUTAŞ</h2>
              <p class="footer-list-item-text">Scrum Master, Developer</p>
              <div class="footer-list-item-links">
                <a
                  class="footer-list-item-link"
                  href="https://github.com/sofia11244"
                  target="_blank"
                >
                  <img
                    class="icon-github-logo"
                    src="./svg/github-icon.svg"
                    width="20"
                    height="20"
                    alt="github icon"
                  />

                  GitHub
                </a>
              </div>
            </div>
          </li>
          <li class="footer-list-item">
            <img
              class="footer-list-item-img"
              src="./img/footer-pic/onur-akarsu.webp"
              alt="Onur Akarsu profile picture"
            />
            <div class="footer-list-item-info">
              <h2 class="footer-list-item-name">Onur AKARSU</h2>
              <p class="footer-list-item-text">Developer</p>
              <div class="footer-list-item-links">
                <a
                  class="footer-list-item-link"
                  href="https://github.com/RiveTroy"
                  target="_blank"
                >
                  <img
                    class="icon-github-logo"
                    src="./svg/github-icon.svg"
                    width="20"
                    height="20"
                    alt="github icon"
                  />

                  GitHub
                </a>
              </div>
            </div>
          </li>
          <li class="footer-list-item">
            <img
              class="footer-list-item-img"
              src="./img/footer-pic/pinar-unlu.webp"
              alt="Pınar Unlu profile picture"
            />
            <div class="footer-list-item-info">
              <h2 class="footer-list-item-name">Pınar ÜNLÜ</h2>
              <p class="footer-list-item-text">Developer</p>
              <div class="footer-list-item-links">
                <a
                  class="footer-list-item-link"
                  href="https://github.com/pinarunlu"
                  target="_blank"
                >
                  <img
                    class="icon-github-logo"
                    src="./svg/github-icon.svg"
                    width="20"
                    height="20"
                    alt="github icon"
                  />

                  GitHub
                </a>
              </div>
            </div>
          </li>
          <li class="footer-list-item">
            <img
              class="footer-list-item-img"
              src="./img/footer-pic/mehmet-ardic.webp"
              alt="Mehmet Ardic profile picture"
            />
            <div class="footer-list-item-info">
              <h2 class="footer-list-item-name">Mehmet ARDIÇ</h2>
              <p class="footer-list-item-text">Developer</p>
              <div class="footer-list-item-links">
                <a
                  class="footer-list-item-link"
                  href="https://github.com/ArdicMehmet"
                  target="_blank"
                >
                  <img
                    class="icon-github-logo"
                    src="./svg/github-icon.svg"
                    width="20"
                    height="20"
                    alt="github icon"
                  />

                  GitHub
                </a>
              </div>
            </div>
          </li>
          <li class="footer-list-item">
            <img
              class="footer-list-item-img"
              src="./img/footer-pic/murat-colak.webp"
              alt="Murat Colak profile picture"
            />
            <div class="footer-list-item-info">
              <h2 class="footer-list-item-name">Murat ÇOLAK</h2>
              <p class="footer-list-item-text">Developer</p>
              <div class="footer-list-item-links">
                <a
                  class="footer-list-item-link"
                  href="https://github.com/zipkaniar"
                  target="_blank"
                >
                  <img
                    class="icon-github-logo"
                    src="./svg/github-icon.svg"
                    width="20"
                    height="20"
                    alt="github icon"
                  />

                  GitHub
                </a>
              </div>
            </div>
          </li>
          <li class="footer-list-item">
            <img
              class="footer-list-item-img"
              src="./img/footer-pic/mr-raccoon.webp"
              alt="Mr. Raccoon profile picture"
            />
            <div class="footer-list-item-info">
              <h2 class="footer-list-item-name">Mr. Raccoon</h2>
              <p class="footer-list-item-text">Mascot</p>
              <div class="footer-list-item-links">
                <a
                  class="footer-list-item-link"
                  href="https://github.com/rocket-raccoons"
                  target="_blank"
                >
                  <img
                    class="icon-github-logo"
                    src="./svg/github-icon.svg"
                    width="20"
                    height="20"
                    alt="github icon"
                  />

                  GitHub
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- developers names... -->
</footer>
