<nav class="navbar">
  <div class="container navbar-container">
    <ul class="navbar-menu">
      <li><a href="/tasty-treats/" class="active inter-font-500">Home</a></li>
      <li>
        <a href="/tasty-treats/favorites.html" class="inter-font-500"
          >Favorites</a
        >
      </li>
    </ul>
    <div class="navbar-logo">
      <h1 class="inter-font font-weight-600">
        <a href="/tasty-treats/"><span>tasty</span>treats.</a>
      </h1>
    </div>
    <div class="navbar-actions">
      <a href="#cart" class="cart-icon" aria-label="cart"
        ><i class="fas fa-shopping-cart"></i
      ></a>
      <div class="theme-toggle">
        <button
          id="themeToggle"
          class="toggle-switch"
          aria-label="Toggle dark mode"
        >
          <span class="toggle-slider">
            <span class="toggle-knob"></span>
          </span>
        </button>
        <span class="sunSide show">
          <i class="fa-solid fa-sun"></i>
        </span>
        <span class="moonSide">
          <i class="fa-solid fa-moon"></i>
        </span>
      </div>
      <button id="mobileMenuToggle" class="mobile-menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</nav>
<div id="sideMenu" class="side-menu">
  <button id="closeSideMenu" class="close-side-menu">&times;</button>
  <ul class="side-menu-items">
    <li><a href="/tasty-treats/">Home</a></li>
    <li><a href="/tasty-treats/favorites.html">Favorites</a></li>
  </ul>
  <div class="side-menu-theme-toggle">
    <span class="sunSide show">
      <i class="fa-solid fa-sun"></i>
    </span>
    <span class="moonSide">
      <i class="fa-solid fa-moon"></i>
    </span>
    <button
      id="sideMenuThemeToggle"
      class="toggle-switch"
      aria-label="Toggle dark mode"
    >
      <span class="toggle-slider">
        <span class="toggle-knob"></span>
      </span>
    </button>
  </div>
</div>
<div class="greetings container">
  <div class="text-side">
    <h1 class="title">
      Learn to Cook <span class="highlight">Tasty Treats'</span> Customizable
      Masterclass
    </h1>
    <p class="description">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button class="order">Order Now</button>
  </div>
  <div class="slider-main-container">
    <div class="slider-container">
      <div class="slider">
        <div class="slide">
          <figure class="image-container">
            <img
              src="./img/header/header-pic/1.webp"
              alt="Small Image"
              class="image-small"
            />
          </figure>
          <div class="content">
            <figure class="image-wrapper">
              <img
                src="./img/header/header-pic/2.webp"
                alt="Large Image"
                class="image-large contain"
              />
            </figure>
            <div class="text-content">
              <p>Grilled, smoky, delicious barbecue</p>
              <span class="subtext">Spanish</span>
            </div>
          </div>
          <figure class="last-item">
            <img
              src="./img/header/header-pic/3.webp"
              alt="Medium Image"
              class="image-medium"
            />
          </figure>
        </div>
        <div class="slide">
          <figure class="image-container">
            <img
              src="./img/header/header-pic/4.webp"
              alt="Small Image"
              class="image-small"
            />
          </figure>
          <div class="content different-content">
            <figure class="image-wrapper">
              <img
                src="./img/header/header-pic/5.webp"
                alt="Large Image"
                class="image-large contain"
              />
            </figure>
            <div class="text-content">
              <p>Hot, cheesy and satisfying pizza</p>
              <span class="subtext">Italian</span>
            </div>
          </div>
          <figure class="last-item">
            <img
              src="./img/header/header-pic/6.webp"
              alt="Medium Image"
              class="image-medium"
            />
          </figure>
        </div>
        <div class="slide">
          <figure class="image-container">
            <img
              src="./img/header/header-pic/7.webp"
              alt="Small Image"
              class="image-small"
            />
          </figure>
          <div class="content">
            <figure class="image-wrapper">
              <img
                src="./img/header/header-pic/8.webp"
                alt="Large Image"
                class="image-large contain"
              />
            </figure>
            <div class="text-content">
              <p>Fluffy and sweet pancakes</p>
              <span class="subtext">American</span>
            </div>
          </div>
          <figure class="last-item">
            <img
              src="./img/header/header-pic/9.webp"
              alt="Medium Image"
              class="image-medium"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="slider-indicators"></div>
  </div>
  <div id="popupOverlay" class="popup-overlay">
    <div class="popup">
      <button class="close-button">✕</button>
      <h2>ORDER NOW</h2>
      <form
        id="orderForm"
        action="https://formspree.io/f/mpwzzazz"
        method="POST"
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="phone">Phone number</label>

          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="+90 123 456 78 90"
            pattern="^\+90\s\d{3}\s\d{3}\s\d{2}\s\d{2}$"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea id="comment" name="comment" required></textarea>
        </div>
        <button type="submit" class="submit-button">Send</button>
      </form>
    </div>
  </div>
</div>
