@media screen and (min-width: 1280px) {
  .cards-list {
    gap: 16px;
    justify-content: flex-start;
  }

  .cards-listing {
    width: 250px;
    height: 287px;
  }

  .cards-listing:nth-child(n+9) {
    display: block; 
  }

  .card-star-svg {
    width: 18px;
    height: 18px;
  }
}
