@media screen and (max-width: 768px) {
  .cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .cards-listing:nth-child(n+9) {
    display: none; 
  }

  .cards-listing {
    width: 240px;
    height: 264px;
  }

  .rating-container {
    gap: 2px;
  }
}
