.cards-container {
  display: flex;
  justify-content: center;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}
.cards-listing {
  position: relative;
  width: 250px;
  height: 287px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
  background-size: cover; /* Resmin tüm kartı kaplamasını sağlar */
  background-position: center; /* Resmi ortalar */
  background-repeat: no-repeat; /* Resmin tekrarlamasını önler */
}
.cards-img {
  display: none; /* Kart resmi için img elementini gizliyoruz */
}
.cards-listing .heard-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.heart-svg {
  width: 24px;
  height: 24px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3));
}
.cards-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.text-container {
  margin-top: 148px;
  width: 218px;
  height: 31px;
  font-size: 1.4em;
  font-weight: bold;
  color: var(--white-bg);
  top: 0; 
  left: 0;
  right: 0;
  padding: 20px;
}
.specification-text {
  width: 218px;
  height: 31px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400; 
  line-height: 16px; 
  text-align: left; 
  border-radius: 4px;
  color: var(--white-bg);
  margin-left: 16px;
  display: -webkit-box;
  -webkit-line-break: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-rating-container {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 218px;
  height: 31px;
}
.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 218px;
  height: 31px;
  position: relative;
}
.recipe-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 93px;
  height: 31px;
  font-size: 12px;
  color: var(--white-bg);
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-button:hover {
  background-color: var(--secondary-color);
}

.rating-star {
  display: flex;
  align-items: center;
  margin-right: 9px; /* Rating ile buton arasında boşluk */
}
.rating-text {
  font-size: 1.8em;
  color: var(--white-bg);
  margin: 0;
  text-align: left;
}

.loader {
  position: relative;
  width: 120px;
  height: 14px;
  border-radius: 0 0 15px 15px;
  background-color: #3e494d;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panex 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;
}
.loader::before {
  content: '';
  position: absolute;
  left: calc(100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21),
    linear-gradient(#4d5457 24px, transparent 0),
    linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px, 4px 8px, 24px 4px;
  background-position: right center, 17px center, 0px center;
}
.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image: radial-gradient(circle 3px, #fff6 90%, transparent 10%),
    radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
    radial-gradient(circle 12px, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px, -2px -2px, -1px -1px;
  box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
  border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
  animation: eggRst 1s ease-out infinite;
}

@keyframes eggRst {
  0%,
  100% {
    transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
    opacity: 0;
  }
  10%,
  90% {
    transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg);
  }
  75% {
    transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg);
  }
  50% {
    transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg);
  }
}
@keyframes panex {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
