.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.cards-listing {
  width: 335px;
  height: 335px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F8F8F8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.cards-listing::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    0.94deg,
    rgba(5, 5, 5, 0.6) 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  );
  border-radius: 15px;
}

.card-content-container {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.heard-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 22px;
  height: 22px;
  padding: 10px;
}

.text-container {
  width: 250px;
  padding: 16px;
}

.card-title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #F8F8F8;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specification-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-top: 0;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #F8F8F8;
  padding-right: 4px;
}

.recipe-button {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #F8F8F8;
  background-color: var(--primary-color);
}

.recipe-button:hover {
  color: #050505;
}

.card-star-svg {
  width: 16px;
  height: 16px;
}
