.container-categories {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 235px;
  margin-bottom: 64px;
}

.categories-button {
  background-color: var(--white-bg);
  color: rgb(from var(--text-color) r g b / 50%);
  font-family: 'Inter', sans-serif;
  padding: 14px 28px;
  line-height: 21.78px;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid rgb(from var(--text-color) r g b / 20%); /*Burada Sıkıntı*/
  border-radius: 15px;
  cursor: pointer;
  width: 174px;
  text-wrap: nowrap;
}

.categories-button:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}

.category-btn {
  max-width: 235px;
  font: 500 16px/20px Inter;
  color: rgb(from var(--text-color) r g b / 30%);
  background: none;
}

.category-btn:hover {
  color: var(--primary-color);
}

.category-list {
  margin-top: 42px;
}

.category-items-list {
  overflow-y: scroll;
  max-height: 416px;
  display: flex;
  flex-direction: column;
  gap: 24px
}

.category-items-list::-webkit-scrollbar {
  width: 8px;
}

.category-items-list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgb(from var(--text-color) r g b / 18%);
}

@media screen and (max-width: 768px) {
  .container-categories {
    width: 100%;
    max-width: 100%;
  }
}
