@media screen and (min-width:320px) {
    

    .fav-img{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }

    .fav-img-item-small{
        display: flex;
            justify-content: center;
    }

    .fav-img-item-medium,
    .fav-img-item-big{
        display: none;
    }
    
    .fav-categories-list {
        display: flex;
        gap: 12px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        margin-top: 48px;
        margin-bottom: 24px;
        display: flex;
    }

    /* to hide scrollbar */
    .fav-categories-list::-webkit-scrollbar {
        display: none;
    }


    .fav-categories-list-button {
        border-radius: 15px;
        padding: 10px 20px;
        border: 1px solid var(--secondary-bg);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: var(--secondary-bg);
        background-color: var(--white-bg);
    }

    .fav-categories-list-button:hover {
        cursor: pointer;
        background: var(--primary-color);
        border: 1px solid var(--primary-color);
        color: var(--white-bg);
    }

    .fav-list {
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .fav-list-recipe {
        width: 335px;
        height: 335px;
        border-radius: 15px;
        background-color: rgba(128, 128, 128, 0.286);
    }
    #message-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        margin-top: 48px;
        margin-bottom: 24px;
        text-align: center;
        height: 50vh;

    }
    
    .fav-chefs-hat {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .fav-message {
        height: 72px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: var(--secondary-color);
        padding:0px 20px 0px 20px;
    }
        .fav-message.dark-mode {
            color: var(--toggle-knob-color);
        }
}




@media screen and (min-width:768px) {
    .fav-img{
        margin-top:50px
    }
    .fav-img-item-small{
        display: none;
    }
        .fav-img-item-medium {
            display: flex;
            border-radius: 15px;
        }

    .fav-categories-list {
        gap: 15px;
        margin-bottom: 32px;
    }

    .fav-list {
        display: flex;
        gap: 16px;
    }

    .fav-message{
width: 481px;
    height: 72px;
    }

    .fav-chefs-hat{
        width: 97px;
        height: 83px;
        margin-bottom: 32px;
    }

    #message-container {
        height: 20vh;
    }
}




@media screen and (min-width:1280px) {
    .fav-img-item-medium{
        display:none;
    }
    .fav-img-item-big {
            display: flex;
            border-radius: 15px;
        }
    .fav-categories-list {
        flex-wrap: wrap;
        justify-content: center;
    }



    .fav-categories-list-button {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    .fav-chefs-hat {
        width: 97px;
        height: 83px;
        margin-bottom:32px;
    }
    .fav-message{
        width: 481px;
        height: 72px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}



