

@media screen and (min-width:320px){

    .fav-categories-list{
        display: flex;
        gap: 12px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        margin-top: 48px;
        margin-bottom: 24px;
        display: flex;
    }
/* to hide scrollbar */
    .fav-categories-list::-webkit-scrollbar {
        display: none;
    }


    .fav-categories-list-button{
        border-radius: 15px;
        padding: 10px 20px;
        border: 1px solid rgba(5, 5, 5, 0.2);
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: rgba(5, 5, 5, 0.3);
    }
    
    .fav-categories-list-button:hover{
        cursor: pointer;
            background: rgba(155, 181, 55, 1);
            border: 1px solid rgba(155, 181, 55, 1);
            color: rgba(248, 248, 248, 1);
    }

    .fav-list{
            gap: 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    }
    .fav-list-recipe{
        width: 335px;
            height: 335px;
            border-radius: 15px;
            background: rgb(226, 37, 37);
    }
}


@media screen and (min-width:768px) {
.fav-categories-list{
        gap: 15px;
        margin-bottom: 32px;
}

.fav-list{
    display: flex;
    gap: 16px;
}
} 


@media screen and (min-width:1280px){
    .fav-categories-list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .fav-categories-list-button:hover{
        background: rgba(155, 181, 55, 1);
    }

    .fav-categories-list-button{
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
    }

}