.modal-f {
  display: none;
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

.modal-content-footer.dark-mode {
  background-color: var(--text-color);
  box-shadow: 0 5px 15px rgb(0, 0, 0);
}

.footer-list-item-links.dark-mode {
  color: var(--white-bg);
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  list-style: none;
}
.footer-list-item {
  padding: 10px;
  width: 240px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 224px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #888;
}
.footer-list-item-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 10px;
}

.footer-list-item-text {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.footer-list-item-link {
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-color);
}
.footer-list-item-img-container {
  overflow: hidden;
}
.footer-list-item-img {
  border-radius: 15px;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 0px;
  gap: 10px;
}

.footer-text-p.dark-mode {
  color: var(--text-color);
}

#openModalBtn {
  cursor: pointer;
}
#closeModalBtn {
  cursor: pointer;
}



.footer-list-item-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  max-height: 200vh;
}
.modal-content-footer {
  background-color: var(--white-bg);
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 65%;
  max-height: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
}

.modal-content-footer::-webkit-scrollbar {
    width: 8px;
}


.modal-content-footer::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color-rgb), 0.4); 
    border-radius: 12px;
}

@media screen and (min-width: 375px) {
  .modal-content-footer {
    margin: 5% auto;
  }
  .modal-menu-button-icon {
    fill: var(--color1);
    cursor: pointer;
    position: absolute;
    left: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal-content-footer {
    margin: 5% auto;
  }
  .modal-menu-button-icon {
    top: 5rem;
    left: 15rem;
  }
}

@media screen and (min-width: 1608px) {
  .modal-content-footer {
    margin: 5% auto;
  }
  .modal-menu-button-icon {
    top: 9.3rem;
    left: 30.90rem;
}

}
