@media screen and (min-width: 768px) {
  #filter-form {
    gap: 16px;
  }

  .search-container {
    flex-basis: 60%;
  }

  .custom-select-trigger {
    font-size: 1.6rem;
  }

  .time-container {
    flex-basis: calc(40% - 16px);
  }

  .area-container {
    flex-basis: calc(40% - 16px);
  }

  .ingr-container {
    flex-basis: 40%;
  }

  .form-lanbel {
    font-size: 1.4rem;
    line-height: 18px;
  }

  .options {
    max-height: 188px;
  }

  .option {
    font-size: 1.6rem;
    line-height: 20px;
  }

  .form-container {
    margin-bottom: 16px;
  }
}
