/* Modal container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

/* Close button */
.modal-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close-button:hover,
.modal-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-heading {
    display: flex;
    gap: 20px;
}

/* Embedded YouTube video */
/* .modal-content iframe { */
.modal-iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: 10px;
}

.modal-recipe-ingredients-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
}

.modal-recipe-ingredients-item:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #888;
    position: absolute;
    bottom: -10px; /* Adjust as needed */
    left: 0;
}