.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
    width: 100%;
    max-width: 335px;
    margin: 4rem auto;
}
.pagination .pagination-btn{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid rgb(from var(--text-color) r g b / 30%);
    border-radius: 50%;
}
.pagination .active-page{
    background-color: var(--primary-color);
    border: 1px solid rgb(from var(--primary-color) r g b / 100%);
}
.left-arrow-container, .right-arrow-container, .number-container{
    display: flex;
    gap: 10px;
}
.pagination .left-one, .pagination .left-end{
    background-color: #050505;
}
.pagination .right-one, .pagination .right-end{
    background-color: var(--primary-color);
}
.pagination .left-one svg, .pagination .left-end svg{
    fill: #F8F8F880;
}
.pagination .right-one svg, .pagination .right-end svg{
    fill: #050505;
}

@media screen and (min-width:768px) {
    .pagination{
        max-width: 446px;
        margin: 6.4rem auto;
        gap: 24px;
    }
    .pagination .pagination-btn{
        width: 44px;
        height: 44px;
    }
}