@media screen and (min-width: 1280px) {

.popular-recipes-container {
 gap: 3.2rem;
 }
ul {
 gap: 3.2rem;
}
.popular-recipes-title {
font-size: 2.4rem;
line-height: 2.8rem;
padding-top: 6.0rem;
}

.recipe-content {
width: 15.5rem;
}

  
}