@media screen and (min-width: 768px) {

.popular-recipes-container {
 gap: 3.2rem;
}

#popular-recipes-gallery { 
width: 17.6rem;    
gap: 1.6rem;
}

.popular-recipes-title {
 
padding-top: 6.0rem;
}


.recipe-container {  
width: 17.6rem;
gap: 1.9rem;  
padding-right: 3.2rem;

}
.mobile-special {
    display: flex;
}
.recipe-content{
width: 17.6rem;
}

.recipe-content-instructions {
font-size: 1rem;
line-height: 1.4rem;
line-clamp: 3;
-webkit-line-clamp: 3;
}

}