@media screen and (min-width: 1280px) {

.popular-recipes-container {
 gap: 3.2rem;
 }
#popular-recipes-gallery {
 width: 23.4rem;
 gap: 3.2rem;
}
.popular-recipes-title {
font-size: 2.4rem;
line-height: 2.8rem;
padding-top: 6.0rem;
}
.recipe-container{
    width: 23.4rem;
    gap: 1.9rem;
}

.recipe-container img {
    width: 6.4em;
    height: 6.4em;
}

.recipe-content {
width: 15.5rem;
}
.recipe-content-instructions {
 
line-clamp: 3;
-webkit-line-clamp: 3;
}
 
}