/* Variables */
:root {
    --primary-color: #9bb537;
    --secondary-color: #050505;
    --text-color: #333;
    --dark-bg: #383838;
    --white-bg: #f8f8f8;
    --secondary-bg: #05050533;
    --toggle-bg-color: #e0e0e0;
    --toggle-bg-color-active: #8DC63F;
    --toggle-knob-color: #fff;
  }