/* Variables */
:root {
  --primary-color: #9bb537;
  --primary-color-rgb: 155, 181, 55;
  --secondary-color: #050505;
  --text-color: #333;
  --text-color-rgb: 51, 51, 51;
  --dark-bg: #383838;
  --white-bg: #f8f8f8;
  --white-bg-rgb: 248, 248, 248;
  --secondary-bg: #05050533;
  --toggle-bg-color: #e0e0e0;
  --toggle-bg-color-active: #8dc63f;
  --toggle-knob-color: #fff;
  --color1: black;
  --border-color: #05050533;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
  }
}
