/* Font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Sections style */
@import url('./header/slider.css');
@import url('./form-mobile.css');
@import url('./form-tablet.css');
@import url('./form.css');
@import url('./categories.css');
@import url('./modal.css');
@import url('./popular-receipes.css');
@import url('./reset.css');

/* Variables */
:root {
  --primary-color: #9bb537;
  --secondary-color: #050505;
  --dark-bg: #383838;
  --white-bg: #f8f8f8;
  --secondary-bg: #05050533;
}
