.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-600{
    font-weight: 600;
}
.navbar {
    background-color: var(--white-bg);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-right: 1rem;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    line-height: 14px;
}

.navbar-menu a.active {
    color: var(--primary-color);
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-logo h1 {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    color: var(--text-color);
}
.navbar-logo span {
    color: var(--primary-color);
}
.navbar-actions {
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    color: var(--text-color);
    font-size: 24px;
}

.theme-toggle {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.toggle-switch {
    width: 48px;
    height: 24px;
    background-color: var(--toggle-bg-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
    padding: 0;
    overflow: hidden;
}

.toggle-slider {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.toggle-knob {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--toggle-knob-color);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.toggle-switch.active {
    background-color: var(--toggle-bg-color-active);
}

.toggle-switch.active .toggle-knob {
    transform: translateX(24px);
}

.mobile-menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.mobile-menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.3s;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100dvh;
    background-color: var(--primary-color);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.side-menu.active {
    left: 0;
}

.close-side-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--white-bg);
    cursor: pointer;
}

.side-menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.side-menu-items li {
    margin-bottom: 1rem;
}

.side-menu-items a {
    color: var(--white-bg);
    text-decoration: none;
    font-size: 1.5rem;
}

.side-menu-theme-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-bg);
}


.sunSide, .moonSide{
    font-size: 18px;
    display: none;
}
.show {
    display: contents;
}
@media (max-width: 768px) {
    .navbar-menu, .theme-toggle {
        display: none;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .navbar-container {
        justify-content: space-between;
    }

    .navbar-logo {
        position: static;
        transform: none;
    }

    .navbar-actions {
        display: flex;
        align-items: center;
    }
}

body.dark-mode {
    --white-bg: #333;
    --text-color: #fff;
    --toggle-bg-color: #8DC63F;
    --toggle-bg-color-active: #e0e0e0;
}

body.dark-mode .navbar-logo h1 {
    color: #fff;
}

body.dark-mode .toggle-switch {
    background-color: var(--toggle-bg-color);
}

body.dark-mode .toggle-switch.active {
    background-color: var(--toggle-bg-color-active);
}