.slider-main-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider-container img, .content {
  border-radius: 8px;
  background-size: cover;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  flex: 0 0 100%; 
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 8px;
}

.image-container {
  border-radius: 8px;
  background-color: #050505;
  flex: 1;
  aspect-ratio: 137 / 468;
  overflow: hidden;
}

.image-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content, .image-medium {
  flex: 2; 
  aspect-ratio: 351 / 468;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at center, rgba(60.78%,70.98%,21.57%,0.6) 0%, rgba(0, 0, 0, 0.6) 50%);
}
.different-content::before {
  background: radial-gradient(circle at center, rgba(60.78%,70.98%,21.57%,0.6) 0%, rgba(0, 0, 0, 0.2) 75%) !important;
}
.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contain {
  object-fit: contain;
  object-position: center;
}

.image-large {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #F8F8F899;
  padding: 16px;
  text-align: center;
}

.image-medium {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.last-item {
  background-color: #050505;
  border-radius: 15px;
  overflow: hidden;
}

.slider-indicators {
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 10;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #9BB537;
}
.slide p{
  font-size: 14px;
  line-height: 18px;
}

.slide .subtext{
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .slider-container {
    width: 100%;
    max-width: 100%;
    height: 468px;
  }

  .slide {
    flex: 0 0 100%; 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
  }

  .image-container {
    flex: 1; 
    aspect-ratio: 137 / 468;
    overflow: hidden;
  }

  .content {
    flex: 2; 
    aspect-ratio: 351 / 468;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .image-medium {
    flex: 2; 
    display: block;
    aspect-ratio: 351 / 468;
    overflow: hidden;
  }

  .text-content {
    padding: 8px;
    font-size: 12px;
  }

  .slider-indicators {
    padding: 8px;
    gap: 4px;
  }

  .indicator {
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 767px) {
  .slide {
    flex: 0 0 100%;
    height: 302px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
  }

  .image-container {
    flex: 1; 
    aspect-ratio: 137 / 468;
    overflow: hidden;
  }

  .content {
    flex: 3; 
    aspect-ratio: 351 / 468;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .image-medium {
    display: none;
  }

  .text-content {
    padding: 8px;
    font-size: 12px;
  }

  .slider-indicators {
    padding: 8px;
    gap: 4px;
  }

  .indicator {
    width: 6px;
    height: 6px;
  }
  .image-large{
    width: 70%;
    height: 70%;
  }
}

@media (min-width: 1280px) {
  .slider-main-container {
    max-width: 602px;
  }
  .slider-container{
    height: 468px;
  }
  .slide {
    flex: 0 0 602px;
    max-width: 602px;
    gap: 12px;
  }

  .image-container {
    flex: 0 0 115px;
    min-width: 115px;
  }

  .content {
    flex: 0 0 230px;
    min-width: 230px;
  }

  .last-item {
    flex: 0 0 230px;
    min-width: 230px;
  }

  .last-item .image-medium {
    width: 400px;
    height: 515px;
    object-position: center;
    transform: translate(-8%, -5%);
  }

  .slide h2 {
    font-size: 24px;
  }

  .slide p {
    font-size: 16px;
  }

  .text-content {
    padding: 20px;
  }

  .slider-indicators {
    padding: 20px;
  }

  .indicator {
    width: 10px;
    height: 10px;
  }
 
}
